* {
    box-sizing: border-box;
}
html,body{
    min-height: 100%;
    padding: 0;
    margin: 0;
}
.panel{
    padding: 2rem;
}

.card{
    box-shadow: 0 0 5px #888;
    border-radius: 10px;
}
.card:not(:last-child){
    margin-bottom:1rem; 
}

.card>*{
    border-radius: 10px;
}
.wrap{
    word-wrap: break-word;
    white-space: break-all;
}

.video {
    height: auto !important;
    width: 100% !important;
}
button,
input {
    display: block;
    width: 100%;
    margin: 1rem 0;
    height: 2.3rem;
    font-size: 11px;
    padding: 0 0.6em;
    border: 1px solid #ccc;
    outline: none;
}
button{
    color: #fff;
    background: #0094ff;
    border-color: #0094ff;
}
input:active,input:focus{
    border-color: currentColor;
    color: #0094ff;
}
button:active{
    background: #fff;
    color: #0094ff;
}

.title{
    padding: 1rem 1rem 0 1rem;
    color: #aaa;
    font-weight: 100;
    align-items: center;
}
.title label{
    line-height: 3rem;
    font-size: 14px;
    padding: 0.7rem 1.2rem;
    border-radius: 1.5rem;
    border: 1px solid #ddd;
}
hr.line{
    line-height: 3rem;
    background: #ddd;
    border: none;
    display: inline-block;
    width: 200px;
    height: 1px;
}
.uHPanel{
    text-align: center;
    justify-content: center;
    margin: 2rem 0;
}
.uh{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 156px;
    height: 156px;
    align-content: center;
    border-radius: 50%;
    background: #f8f8f8;
    border: 1pxo solid #eee;
}